<style>
        @media only screen and (max-width: 760px) {
        #id_date{
            margin-left: -105%;
        }
        }
</style>
<div class="card-panel">
        <div class="col s12 m2 l12">
            <h4 align='center' style="color: #2a95a2;text-shadow: 0px 0px 1px rgba(0, 16, 44, 0.86)">{{ name|upper }} PROGRAMA </h4>
            <a onclick='atras()' style='color: #2a95a2;text-shadow: 0px 0px 1px rgba(0, 16, 44, 0.86); cursor: pointer'>
              <i class='fa fa-backward'></i>
              Atras
            </a>
        </div>


    <div class='row'>
        <div class="container">
            <form onsubmit="save_maintenance(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'Program_Test','adm_test' );return false;"
      >
        {% csrf_token %}
        <div class='col s12 m3 l3'>
          <div class='input-field'>
            {{ form.description }}
            {{ form.description.label_tag }}
          </div>
        </div>
        <div class='col s12 m3 l3'>
          <div class='input-field'>
            {{ form.start_date }}
            {{ form.start_date.label_tag }}
          </div>
        </div>
        <div class='col s12 m3 l3'>
          <div class='input-field'>
            {{ form.end_date }}
            {{ form.end_date.label_tag }}
          </div>
        </div>
            <div class="row m2m" >
                <div class="col s12 m12 l12">
                     <h4 align="center" style="color: #2a95a2;text-shadow: 0px 0px 1px rgba(0, 16, 44, 0.86)"><b>SELECCIONAR O AGREGAR TEST</b></h4>
                    <a class="btn-floating btn-small waves-effect waves-light green" onclick="add_row()">
                        <i class="material-icons">add</i>
                    </a> Agregar Celda
                    <br>
                    <fieldset>
                        <table class="table table-hover table-condensed responsive-table">
                        <thead>
                            <tr>
                                <th><b style="color: rgba(162, 43, 105, 0.82)">Test</b></th>
                                <th><b style="color: rgba(162, 43, 105, 0.82)">Fecha</b></th>
                                <th><b style="color: rgba(162, 43, 105, 0.82)">Hora</b></th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for form2,id in form2 %}
                           <tr>
                               <td>
                                   <div class="row date_l" style="margin-top: -5px;">
                                     <div class="col s12 m12 l12">
                                         {% if id %}
                                             <input type="hidden" name="id" value="{{ id }}">
                                         {% endif %}

                                        {{ form2.test }}
                                         <a onclick="addF(this,'{% url 'addTestPsicologico'  %}','ided')"
                                              class="fa fa-plus-circle"
                                              id="add_more"></a>
                                     </div>
                                    </div>
                               </td>
                               <td>{{ form2.date }}</td>
                               <td>{{ form2.time }}</td>
                               <td>
                                   <a style="color: red; cursor: pointer;" id="elim_nose" onclick="delete_row(this)">
                                       <i class="fa fa-trash fa-2x puntero"></i>
                                   </a>
                               </td>
                           </tr>
                           {% endfor %}
                        </tbody>

                    </table>
                    </fieldset>
                </div>
            </div>
        <div class='col s12' align='center'>
          <button type='submit' class='waves-effect waves-light btn' id='btn_envio'>
            <i class='material-icons'>send</i>{{ name }}
          </button>
        </div>
      </form>
        </div>
    </div>

</div>
<!-- Modal -->
<div id='myModal'> </div>
<script>
    if ($('select option[value=""]').is(':selected')) {
        $("select").append($('<option>', {
            value: '',
            text: '--->seleccione<----'
        })).val('');
    }
    $('select option[value=""]').text('--->seleccione<----');
    $('select').select2({width: '100%'});
    $("label").addClass('active').attr({'data-error':'Correcto','data-success':'Incorrecto'});
    M.updateTextFields();
</script>