<nav class="form-inline">
    <ul class="pagination pagination-sm" id="pag" >
        {% if paginacion.has_previous %}
            <li>
                <a  class="pg puntero" name="{{ paginacion.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="puntero" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
        {% endif %}
        {% for a in  range %}
            {% if a <= paginacion.paginator.num_pages %}
                 <li {% if a == paginacion.number %} class="active" {% endif %}><a class="pg puntero" name="{{ a }}">{{ a }} <span class="sr-only">(current)</span></a></li>
            {% endif %}
        {% endfor %}
        {% if paginacion.has_next %}
            <li><a class="pg puntero" name="{{ paginacion.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"  >
                <a class="puntero"  aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
            </li>
        {% endif %}
        <input type="number" style="width: 100px"  class="form-control input-sm numberI" id="{{pag}}"  value="{{ paginacion.number }}" placeholder="">
        <br>
        <li  id="sp">Página {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}</li>
    </ul>
</nav>