<div class='card-panel'><div class='row'><div class='col s12 m1 12'>
<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a></div><div class='col 12 m11 12'><h4 align='center'>{{ name|upper }} GRADOS </h4></div>
<div class='row'>
  <form onsubmit="save_maintenance(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'Grado','adm_institucion' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <div class='input-field'>
        {{ form.classroom }}
        {{ form.classroom.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.grado }}
        {{ form.grado.label_tag }}
      </div>
    </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id='btn_envio'>
        <i class='material-icons'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div></div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});$('label').addClass('active').attr({'data-error':'Correcto','data-success':'Incorrecto'}); Materialize.updateTextFields();</script>