<div class="search-bar layer-opened" id="modal_test" style="display: none; background: rgb(73, 97, 115);">
    <div class="layer-content" style="background: none; z-index: 2; display: block; opacity: 1;">

        <div class="row card-panel">
            <h2 align="center" id="title_test">TEST {{ foo.test_programed.test|upper }}</h2>
            <a class="bar-toggle-m grey-text text-darken-2 puntero" onclick="closeModalTest('#modal_test')">
                <i class="mdi-navigation-close"></i>
            </a>
            <form  id="form_test">
                {% csrf_token %}
                    <input type="hidden" name="history" value="{{ foo.id }}">
                    <div class="col s12 m12 l12" style="height: 35px; margin-top: -15px;">
                        <div class="progress" style="float: left">
                            <div class="striped" id="porcentaje_test" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12" style="height: 50%; padding-bottom: 0px" align="center"> <!--cuerpo contenido del las preguntas -->
                            <h2 class="flow-text" id="pregunta_test" ></h2>
                            <div class="row" align="center" id="alternativa_test">
                            </div>
                        </div>
                    </div>
                    <!-- la parte de footer para continuar -->
                    <div class="modal-footer col s12 m12 l12" style="height: 60px" align="right">
                        <span id="timeTest" style="font-size: 20px"></span> <!-- la parte de la hora del test -->
                        <button class="btn waves-effect waves-light btn-large" id="pasar" type="submit" style="width:167px" name="action" disabled>Siguiente <i class="mdi-content-send right"></i></button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
</div>
