<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    #global {
	height: 550px;
	overflow-y: scroll;
    padding: 2em;
}

.bar-toggle-m{
    position: relative;
    font-size: 3em;
    top: -2rem;
}

  .dra {color: white; width: 100px; height: 100px; cursor: pointer; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
.dra:hover{
    background: skyblue;
}
.active{
    background: skyblue;
}
  #droppable {
      width: 100px; height: 100px; padding: 0.5em; float: left;
      border: skyblue 3px dashed;
      border-radius: 10px;
      margin-left: -460%;
      margin-top: 50%;
  }

    .ui-state-hover{
        background: #cfebe2;
    }

    </style>





<div class="content-box border-top border-blue"  id="global">
    <h1 align="center" style="color: rgb(106, 179, 186)"><p>TEST</p></h1>

     <div class="panel-body pad0B" >

              <h4 style="color: rgb(109, 184, 214)">INSTRUCCIONES:</h4>
            <p class="mrg15B">
              Lea cada una de ellas cuidadosamente y conteste con una alternativa según la pregunta.
                <br>
            </p>
            <h3 style="text-after-overflow: 3px">RECUERDE, CONTESTE CON LA MÁXIMA SINCERIDAD</h3><br>

    </div>
    <input type="hidden" name="validadortiempo" id="validadortiempo">
    <input type="hidden" name="idprogramacion" id="idprogramacion" value="{{ idprogramacion }}">
    <input type="hidden" name="iddetprogramacion" id="iddetprogramacion" value="{{ iddetpro }}">
    <button class="btn" onclick="start_test(1)" name="action">Comenzar test <i class="mdi-content-send right"></i></button>

    <div id="result_test"></div>
</div>

    {% include "modal_test.html" %}


    {% load static %}



<script src="{% static 'js/appTest/baseTest.js' %}"></script>
