<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a><br>
<h4 align='center' style='color: #3293a2'><b>LISTA DE SECCIONES</b></h4>
<hr>
<a type='button' class='btn btn-primary' href='#adm_institucion/Seccion/add?id='>Agregar</a><br>
<div class='card'>
  <div class='card-content'>
    <table class="table table-striped table-hover table-condensed responsive-table">
      <thead>
        <tr>
          <td>#</td>
          <td>seccion</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.seccion}}</td>
          <td>
            <a style='color: red' href='#adm_institucion/Seccion/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red' onclick="delete_maintenance('adm_institucion','Seccion',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% load static %}
<script src='{% static 'assets/datatables/js/datable-es.js' %}'></script>
<script src='{% static 'js/appSecurity/baseMantenimiento.js' %}'></script>