{% extends "Institucion/base.html" %}
{% block title %}
  TestCore - {{ request.session.institucion.nombre }}
{% endblock %}
{% block css %}
    {% load static  %}
        <!-- materialize -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/icon.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'assets/materialize/css/materialize.min.css' %}" >
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/styles_web.css' %} " >
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
        <script src="{% static 'assets/respond/respond.min.js' %}"></script>
    <![endif]-->
{% endblock %}

{% block contenido %}
  <nav  id="header" class="tt-nav transparent-header" role="navigation">
    <div class="nav-wrapper container header-sticky light-header"><a id="logo-container" href="#" class="brand-logo">{{ request.session.institucion.nombre }}</a>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Inicio</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!-- Hero Section -->
<section class="banner-12 parallax-bg bg-fixed fullscreen-banner valign-wrapper" >
            <div class="valign-cell">
              <div class="padding-top-80">
                  <div class="row">

                      <div class="col s12 m4 l4 offset-l8 offset-m8">
                          <div class="login-wrapper">
                              <div class="card-wrapper">
                                <h3 style="color: white; font-size: 2.4em">Iniciar Sesión</h3>
                                <form >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col s12">
                                            <div id="pace-progress">
                                              <div id="pace-bar"></div>
                                            </div>
                                            <div  id="msmlogin" class="alert-dismissible hide" >
                                                <!--<span class="puntero" onclick="cerraralert('#msmlogin')">&times;</span> -->
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field">
                                    <input type="text" id="username" name="username" required="required">
                                    <label for="username">Usuario</label>
                                    <div class="bar"></div>
                                  </div>
                                  <div class="input-field">
                                    <input type="password" id="password" name="password" required="required">
                                    <label for="password">Contraseña</label>
                                    <div class="bar"></div>
                                  </div>
                                  <div class="button-container">
                                    <button type="submit" class="btn btn-lg btn-block waves-effect waves-light">Ingresar</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                      </div>
                   </div>
                  <div></div>
              </div><!-- /.container -->
            </div><!-- /.valign-cell -->

        </section>
        <!-- Hero Section End -->

        <footer class="footer footer-four">
            <div class="primary-footer brand-bg text-center">
                  <div class="row" align="center">
                    <div class="col s12 m12 l12">
                          <div class="footer-logo">
                            {{ request.session.institucion.nombre }}
                          </div>
                          <span class="copy-text">Copyright &copy; 2017 <a href="http://www.perucore.com/" target="_blank" >TestCore</a> &nbsp;
                              | &nbsp;  All Rights Reserved &nbsp; | &nbsp;  Designed By <a target="_blank" href="http://www.facebook.com/awainer">Anthony Wainer</a></span>
                          <div class="footer-intro">
                          </div>
                    </div><!-- /.col-md-12 -->
                  </div><!-- /.row -->
            </div><!-- /.primary-footer -->
        </footer>
        <!-- Preloader -->
        <div id="preloader">
          <div class="preloader-position">
            <span style="color: deepskyblue; font-size: 3em">PeruCore</span>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
        <!-- End Preloader -->
{% endblock %}
{% block js %}
        <!-- jQuery -->
        <script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'assets/js/scripts_web.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
{% endblock %}