/*------------------------------------------------------------------
Footer
-------------------------------------------------------------------*/
.footer h2 {
    margin-bottom: 24px;
}
.footer p {
    color: #c9f0ff;
}

.footer-one .primary-footer {
    padding-top: 80px;
    padding-bottom: 50px;
}
.secondary-footer {
    padding: 27px 0;
}

.copy-text a{
    color: #fff;
}
.copy-text,
.copy-text a:hover{
    color: #81ddff;
}

/*
Back To Top
----------------------------------------------------*/
.footer .container {
    position: relative;
}
.back-top {
    position: absolute!important;
    top: -116px;
    right: 0;
}
.back-top i {
    font-size: 4rem!important;
}
.back-top.white i {
    color: inherit;
}



/* 
Social Link Widget
------------------------------------------------ */
.social-link {
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
}
.social-link li a i {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.social-link li a i{
    color: #fff;
}

.social-link li a i:hover {
    color: #03a9f4 ;
    background: #fff;
}

.social-link.dark li a i{
    color: #202020;
}
.social-link.dark li a i:hover {
    color: #fff ;
    background: #03a9f4;
}


/* 
Important Link Widget
------------------------------------------------ */
.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.footer-list li:last-child {
    border-bottom: 0;
}
.footer-list li a {
    display: block;
    line-height: 45px;
    color: #c9f0ff;
}
.footer-list li a:hover {
    color: #fff;
}


/* 
Twitter Widget
------------------------------------------------ */
.twitter-widget-wrapper a{
    color: #fff;
    word-break: break-word;
}
.twitter-widget-wrapper a:hover{
    color: #c9f0ff;
}

.twitter-widget-wrapper p{
    line-height: 24px;
    margin-bottom: 5px;
}
.twitter-widget-wrapper ul li+li {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.twitter-widget-wrapper .user span img{
    display: none;
}
.twitter-widget-wrapper .timePosted {
    font-size: 13px
}



/* 
Subscription Widget
------------------------------------------------ */
.primary-footer .widget .form-control {
    height: 40px;
    border: 1px solid #1ebef9!important;
    font-weight: 300;
    font-size: 14px;
    padding: 0 0 0 12px;
}
.primary-footer .form-control:focus {
    border: 1px solid #c9f0ff!important;
    box-shadow: none!important;
}
.primary-footer .form-group input[type="text"],
.primary-footer .form-group input[type="email"] {
    color: #c9f0ff;
    background-color: #0288d1;
    width: 76%;
    float: left;
}

.primary-footer.brand-bg .form-group input::-webkit-input-placeholder {
   color: #c9f0ff;
}
.primary-footer.brand-bg .form-group input::-moz-placeholder {
   color: #c9f0ff;  
}
.primary-footer.brand-bg .form-group input:-ms-input-placeholder {  
   color: #c9f0ff; 
}

.primary-footer .form-group {
    margin-bottom: 20px;
}
.primary-footer .form-group button {
    float: left;
    width: 15%;
    background: #fff;
    border: 1px solid transparent;
    height: 40px;
    color: #0288d1;
}
.primary-footer .form-group button i {
    width: 100%;
    height: 100%;
    line-height: 36px;
}



/* 
Tag Cloud Widget
------------------------------------------------ */
.widget-tags a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px 10px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.widget-tags a:hover {
    color: #fff;
    background-color: #0288d1;
    border: 1px solid transparent;
}

@media (max-width: 991px) {
    .footer .widget {
        margin-bottom: 50px;
    }
}









/*------------------------------------------------------------------
Footer 2
-------------------------------------------------------------------*/

.footer-two .primary-footer {
    padding: 90px 0;
}
.footer-two .footer-logo img{
    margin-bottom: 30px;
}

.footer-two .back-top {
    top: -122px;
}

.footer-two .social-link li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}




/*------------------------------------------------------------------
Footer 3
-------------------------------------------------------------------*/

.footer-three .primary-footer {
    padding: 90px 0 70px;
}
.footer-three .secondary-footer {
    padding: 0 0 20px;
}
.footer-three .secondary-footer hr {
    margin-top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-three .social-link {
    text-align: right;
}
.footer-three .social-link li a {
    color: #0379ae;
}
.footer-three .social-link li a:hover {
    color: #fff;
}

.footer-three .back-top {
    right: 50%;
    margin-right: -35px;
}

@media (max-width: 991px) {
    .copy-text {
        text-align: center;
        display: block;
    }
    .footer-three .social-link {
        margin-top: 15px;
        text-align: center;
    }
}


/*------------------------------------------------------------------
Footer 4
-------------------------------------------------------------------*/

.footer-four .social-link li+li {
    margin-left: 15px;
}

.footer-four .social-link li a {
    line-height: 14px;
}
.footer-four .social-link li a i{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.footer-four .social-link li a i:hover {
    color: #0379ae;
}

.footer-four hr {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.footer-four .footer-logo {
    margin: 45px 0 35px;
    font-size: 4em;
    color: white;
}
.footer-intro p {
    margin: 0 auto 70px;
}

@media (min-width: 992px) {
    .footer-intro p {
        width: 60%;
    }
}

.footer-four .secondary-footer {
    padding: 18px 0;
}
.footer-four .secondary-footer ul {
    margin: 0;
}
.footer-four .secondary-footer ul li{
    display: inline-block;
    margin-right: 30px;
}
.footer-four .secondary-footer ul li:last-child{
    margin-right: 0;
}
.footer-four .secondary-footer ul li a{
    display: block;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-four .secondary-footer ul li a:hover {
    color: #81ddff;
}

.footer-four .back-top {
    top: -35px;
}

@media (max-width: 767px) {
    .footer-intro p {
        width: 100%;
    }
}




/*------------------------------------------------------------------
Footer 5
-------------------------------------------------------------------*/

.footer-five .back-top {
    top: -30px;
}

.footer-five .social-link li {
    margin: 0 10px;
}
.footer-five .social-link li a i{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #A6A6A6;
}
.footer-five .social-link li a i:hover {
    color: #fff;
    background: #03a9f4;
}


.footer-five .footer-logo h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
}
.footer-five h3 {
    font-weight: 700;
}

.footer-five address {
    margin: 0;
    line-height: 30px;
}

.footer-five .copy-text,
.footer-five .copy-text a {
    display: inline-block;
}
.footer-five .copy-text {
    color: #898989;
}
.footer-five .copy-text a {
    color: #03a9f4;
}

.footer-five .secondary-footer ul {
    margin: 0;
    text-align: right;
}
.footer-five .secondary-footer ul li {
    display: inline-block;
    margin-right: 30px;
}
.footer-five .secondary-footer ul li a {
    display: block;
    color: #898989;
    text-transform: capitalize;
}
.footer-five .secondary-footer ul li a:hover {
    color: #03a9f4;
}

@media screen and (max-width: 991px) {
    .footer-five .copy-text{
        display: block;
        margin-bottom: 10px;
    }

    .footer-five .copy-text,
    .footer-five .secondary-footer ul {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .footer-five .copy-text{
        display: block;
        margin-bottom: 10px;
    }

    .footer-five .copy-text,
    .footer-five .secondary-footer ul {
        text-align: center;
    }
}