{% for foo in object_list %}
        {% for foo in  foo.test %}
                {% if foo.id|slugify  == request.GET.pat%}
                    <div class="card-panel" >
                        <h2 style="color: rgb(106, 179, 186); font-size: 1.73em">TEST {{ foo.test_programed.test|upper }}</h2>
                          {{ foo.test_programed.test.instructions|safe }}
                        <button class="btn" onclick="start_test(1,{{ foo.test_programed.test_id }})" name="action">Comenzar <i class="mdi-content-send right"></i></button>
                        <button class="btn" onclick="ralacionar()" name="action">ragregar <i class="mdi-content-send right"></i></button>
                        <div id="result_test"></div>
                    </div>
                    {% include "modal_test.html" %}
                {% endif %}
        {% endfor %}

{% endfor %}


{% load static %}
<script src="{% static 'js/appTest/baseTest.js' %}"></script>
