<div class='card-panel'><div class='row'><div class='col s12 m1 12'>
<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a></div><div class='col 12 m11 12'><h4 align='center'>{{ name|upper }} TESTPSICOLOGICOS </h4></div>
<div class='row'>
  <form onsubmit="save_maintenance(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'TestPsicologico','adm_test' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <div class='input-field'>
        {{ form.name }}
        {{ form.name.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.description }}
        {{ form.description.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.instructions }}
        {{ form.instructions.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.es_cronometrado }}
        {{ form.es_cronometrado.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.level_correction }}
        {{ form.level_correction.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.formul_unique }}
        {{ form.formul_unique.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.limit_time }}
        {{ form.limit_time.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.variable }}
        {{ form.variable.label_tag }}
      </div>
    </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id='btn_envio'>
        <i class='material-icons'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div></div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});$('label').addClass('active').attr({'data-error':'Correcto','data-success':'Incorrecto'}); M.updateTextFields();</script>