#p_arrastrar{
    font-size: 1.4em;
    text-align: center;
    font-family: serif;
    color: lightblue;
    padding: 50px;
    padding-top: 35%;
}
    .est{
        -moz-border-radius-topright: 57px;
        -webkit-border-top-right-radius: 57px;
        border-top-right-radius: 57px;
        -moz-border-radius-bottomleft: 57px;
        -webkit-border-bottom-left-radius: 57px;
        border-bottom-left-radius: 57px;
    }
#map_canvas {
  height: 300px;
  width: 100%;
}
.perfilI  {
  z-index: 300;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  height: 200px;
  border-radius: 10px;
}
 input#imgInp {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 200px;    
}  
 .vista {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 200px;
    font-size: 20px;
}  
.re {
    position: absolute;
    max-height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.di{
    display: none;
}

