<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>Datos de la I.E. </b></span>
    <a href='#' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">edit</i>EDITAR</a>
</div>

<div class="row">
    <div class="col s12 m12 12">
        <div class="card">
            <div class="card-content">
                {{ request.session.institucion }}
                <a href=""></a>
            </div>
        </div>
    </div>
</div>


