    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>Reporte Valoración del Sistemas</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>
<div class='card'>
  <div class='card-content'>
<div class="row" id="tabla_todo">
    <div class="col s10">
    <table class="table tableA table-condensed responsive-table">
            <thead>
              <tr>
                  <th>Nombres</th>
                  <th>Grado/Sección</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>Puntaje</th>
                  <th>Observación</th>
              </tr>
            </thead>

            <tbody>
            {% for d in datos %}
              <tr>
              <td>{{ d.dni }} - {{ d.names|title }} {{ d.first_surname|title }} {{ d.second_surname|title }}</td>
              <td>{{ d.grado }}/{{ d.seccion }}</td>
              <td>{{ d.question1 }}</td>
              <td>{{ d.question2 }}</td>
              <td>{{ d.question3 }}</td>
              <td>{{ d.question4 }}</td>
              <td>{{ d.question5 }}</td>
              <td>{{ d.suma }}</td>
              <td>{% if d.suma > 10 %}
                  Buena Valoración
              {% else %}
                  Mala Valoración
              {% endif %}</td>
              </tr>
            {% endfor %}
    </tbody>
    </table>
    </div>

    <div class="col s2">
        <table class="table table-hover table-condensed responsive-table">
            <thead>
                <tr>
                    <th>Caracteristicas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total de alumnos: </td>
                    <td>{{ total }}</td>
                </tr>
            <tr>
                    <td>Buena valoración: </td>
                    <td>{{ bueno }}</td>
                </tr>
            <tr>
                    <td>Mala valoración: </td>
                    <td>{{ malo }}</td>
                </tr>
            </tbody>
        </table>
        </div>
</div>
<script>
    $('.tableA').dataTable(datEs);
</script>
</div>
</div>