    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>Reporte Puntuación por Preguntas</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>

<div class='card'>
  <div class='card-content'>

<table  class="table table-condensed table-hover responsive-table">
        <thead>
          <tr>
              <th>Nombre\preguntas </th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
              <th>11</th>
              <th>12</th>
              <th>13</th>
              <th>14</th>
              <th>15</th>
              <th>16</th>
              <th>17</th>
              <th>18</th>
              <th>19</th>
              <th>20</th>
              <th>21</th>
              <th>22</th>
              <th>23</th>
              <th>24</th>
              <th>25</th>
              <th>26</th>
              <th>27</th>
              <th>28</th>
              <th>29</th>
              <th>30</th>
          </tr>
        </thead>

        <tbody>
        {% for d in datos %}
          <tr>
          <td> {{ d.dni }} - {{ d.names }} {{ d.first_surname|title }} {{ d.second_surname|time }}</td>
          <td>{{ d.pregunta1 }}</td>
          <td>{{ d.pregunta2 }}</td>
          <td>{{ d.pregunta3 }}</td>
          <td>{{ d.pregunta4 }}</td>
          <td>{{ d.pregunta5 }}</td>
          <td>{{ d.pregunta6 }}</td>
          <td>{{ d.pregunta7 }}</td>
          <td>{{ d.pregunta8 }}</td>
          <td>{{ d.pregunta9 }}</td>
          <td>{{ d.pregunta10 }}</td>
          <td>{{ d.pregunta11 }}</td>
          <td>{{ d.pregunta12 }}</td>
          <td>{{ d.pregunta13 }}</td>
          <td>{{ d.pregunta14 }}</td>
          <td>{{ d.pregunta15 }}</td>
          <td>{{ d.pregunta16 }}</td>
          <td>{{ d.pregunta17 }}</td>
          <td>{{ d.pregunta18 }}</td>
          <td>{{ d.pregunta19 }}</td>
          <td>{{ d.pregunta20 }}</td>
          <td>{{ d.pregunta21 }}</td>
          <td>{{ d.pregunta22 }}</td>
          <td>{{ d.pregunta23 }}</td>
          <td>{{ d.pregunta24 }}</td>
          <td>{{ d.pregunta25 }}</td>
          <td>{{ d.pregunta26 }}</td>
          <td>{{ d.pregunta27 }}</td>
          <td>{{ d.pregunta28 }}</td>
          <td>{{ d.pregunta29 }}</td>
          <td>{{ d.pregunta30 }}</td>
          </tr>
        {% endfor %}
</table>

<script>
    $('table').dataTable(datEs);
</script>
</div>
</div>