    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>Reporte de Observaciones</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>

<div class='card'>
  <div class='card-content'>
<div class="row" id="tabla_todo">
    <table class="table table-condensed table-hover responsive-table">
            <thead>
              <tr>
                  <th>Nombres</th>
                  <th>G/S</th>
                  <th>Dimensiones</th>
                  <th>Puntaje</th>
                  <th>Observación</th>
              </tr>
            </thead>

            <tbody>
            {% for d in datos %}
              <tr>
                  <td>{{ d.dni }}- {{ d.names|title }} {{ d.first_surname|title }} {{ d.second_surname|title }}</td>
                  <td>{{ d.grado }}/{{ d.seccion }}</td>
                  <td>{{ d.nombre }}</td>
                  <td>{{ d.puntaje|floatformat:"1" }}</td>
                  <td>{{ d.diagnostico }}</td>
              </tr>
            {% endfor %}
    </table>
</div>

<script>
    $('table').dataTable(datEs);
</script>
</div>
</div>
