    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>Reporte Tiempo Test AF5</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>
{% csrf_token %}
<div class='card'>
  <div class='card-content'>
<div class="row" id="tabla_todo">
    <div class="col s10">
    <table class="table tableA table-condensed responsive-table">
            <thead>
              <tr>
                  <th>Nombres</th>
                  <th>Grado/Sección</th>
                  <th>Tiempo test(minutos)</th>
              </tr>
            </thead>

            <tbody>
            {% for d in datos %}
              <tr>
                  <td>{{ d.dni }} - {{ d.names|title }} {{ d.first_surname|title }} {{ d.second_surname|title }}</td>
                  <td>{{ d.grado }}/{{ d.seccion }}</td>
                  <td>{{ d.minutos|floatformat:'2' }}</td>
              </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>

    <div class="col s2">
        <table class="table table-condensed table-hover responsive-table">
            <thead>
                <tr>
                    <th colspan="2">Minutos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>min.</td>
                    <td>{{ min|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>max.</td>
                    <td>{{ max|floatformat:"2" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.tableA').dataTable(datEs);
</script>
</div>
</div>