    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>Reporte Promedio</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>
<div class='card'>
  <div class='card-content'>
<div class="row" id="tabla_todo">
    <div  class="col s8">
    <table class="table tableA table-condensed responsive-table">
            <thead>
              <tr>
                  <th>Nombres</th>
                  <th>Grado/Sección</th>
                  <th>Promedio</th>
                  <th>Observación</th>
              </tr>
            </thead>

            <tbody>
            {% for d in datos %}
              <tr>
                  <td>{{ d.dni }} - {{ d.names|title }} {{ d.first_surname|title }} {{ d.second_surname|title }}</td>
                  <td>{{ d.grado }}/{{ d.seccion }}</td>
                  <td>{{ d.promedio|floatformat:"2" }}</td>
              <td>{% if d.promedio <= 24.5 %}
                  Baja Autoestima
              {% endif %}
              {% if d.promedio >= 24.5 %}
                  Buena Autoestima
              {% endif %}</td>
              </tr>
            {% endfor %}
    </table>
    </div>
    <div class="col s4">
        <table class="table table-condensed table-hover responsive-table">
            <thead>
              <tr>
                  <th colspan="2">Escala</th>
                  <th>Observación</th>
              </tr>
            </thead>
                <tr>
                    <td>Mayor</td>
                    <td>Menor</td>
                    <td></td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>24.5</td>
                    <td>Baja Autoestima</td>
                </tr>
                <tr>
                    <td>25.6</td>
                    <td>49.5</td>
                    <td>Alta Autoestima</td>
                </tr>
            <tbody>
        </table>

        <table class="table table-condensed table-hover responsive-table">
            <thead>
                <tr>
                    <th colspan="2">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Baja Autoestima: </td>
                    <td>{{ bueno }}</td>
                </tr>
                <tr>
                    <td>Alta autoestima: </td>
                    <td>{{ malo }}</td>
                </tr>
                            <tr>
                    <td>Total de alumnos: </td>
                    <td>{{ totalalumnos }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.tableA').dataTable(datEs);
</script>
</div>
</div>