<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <style>
        body {
          background: rgb(204,204,204);
        }
        page {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        page[size="A4"] {
          width: 21cm;
          height: 29.7cm;
            padding: 20px;
        }
        page[size="A4"][layout="portrait"] {
          width: 29.7cm;
          height: 21cm;
        }
        page[size="A3"] {
          width: 29.7cm;
          height: 42cm;
        }
        page[size="A3"][layout="portrait"] {
          width: 42cm;
          height: 29.7cm;
        }
        page[size="A5"] {
          width: 14.8cm;
          height: 21cm;
        }
        page[size="A5"][layout="portrait"] {
          width: 21cm;
          height: 14.8cm;
        }
        @media print {
          body, page {
            margin: 0;
            box-shadow: 0;
          }
          page[size="A4"] {
            width: 21cm;
            height: 29.7cm;

          }
        }
        table{
            font-size: 0.4em;
            border: 1px solid deepskyblue;
        }


 div{
     border-right: 1px dashed deepskyblue;
     padding: 5px;
     float: left;
     width: 253px;
 }
        tbody>tr>td:nth-child(0){
            font-weight: 200;
        }
    </style>
</head>
<body>
{% for foo in lista %}
    <page size="A4">
        {% for l in foo %}
            <div >
                <table class="table table-condensed" style="margin-bottom: 5px;">
                    <thead>
                        <tr>
                            <th>
                                <img width="60px" src="/static/media/images/jec.jpg" alt="">
                            </th>
                            <th colspan="2" align="center">
                                <strong>MINISTERIO DE EDUCACIÓN <br>
                                UGEL SAN MARTÍN <br>
                                I.E. N° 0775 - HUIMBAYOC</strong>
                            </th>
                            <th>
                                <img width="30x" src="/static/media/instituciones/logos/logo.png" alt="">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">BIEN:</td>
                            <td colspan="3">{{ l.detalle }}</td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">CÓDIGO: </td>
                            <td colspan="3">{{ l.cod }}</td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">UBICACIÓN:</td>
                            <td colspan="3">
                                {{ l.ubicacion }}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">FECHA INV:</td>
                            <td colspan="3">{{ l.fecha }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-weight: 900">
                                ESPECIFICACIONES:
                            </td>
                        </tr>
                        <tr>
                            <td  style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">CÓD. INTERNO:</td>
                            <td width="60px">{{ l.cod_i }}</td>
                            <td width="50px"  style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">SERIE:</td>
                            <td width="70px">{{ l.serie }}</td>
                        </tr>
                        <tr>
                            <td  style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">MARCA:</td>
                            <td>{{ l.marca }}</td>
                            <td  style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">COLOR:</td>
                            <td>{{ l.color }}</td>
                        </tr>
                        <tr>
                            <td  style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">MODELO:</td>
                            <td>{{ l.modelo }}</td>
                            <td  style="border-right: 1px solid deepskyblue; font-weight: 900; background: #d9f1f0">DIMENSIONES:</td>
                            <td>{{ l.dimensiones }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center" style="font-weight: bold; font-size: 1.6em" >2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </page>
{% endfor %}
</body>
</html>