{% extends "base_security.html" %}
{% block title %}
---> TESTCORE <---
{% endblock %}

{% block css %}
    {% load static %}

	<link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" />

     <!-- Template styles -->
    <style amp-custom >
        {% include 'style/amp-materialize.css' %}
        {% include 'style/amp-style.css' %}
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{% endblock %}

{% block contenido %}
    <!--Navbar-->
<div class="navbar-fixed">
    <nav >
        <div class="nav-wrapper container">

            <ul class="left" >
                <li>
                    <a href="/">
                        <strong>TestCore</strong>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">Inicio</a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="#informacion">Información</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
    <!--/.Navbar-->

    <div class="container center" id="content">
        <div id="text-content">
            <h1>TESTCORE</h1>
            <p class="flex-item"> ~soon~  Plataforma en Software de Psicología</p>
        </div>
    </div>



        <div class="container" id="informacion">
        <!--Footer Links-->
            <div class="row justify">
                <div class="col s12 m4 l4">
                <h2 >Información: </h2>
                <p>TestCore es una empresa que nace con la necesidad
                    de mejorar los perfiles Psicológicos de las personas,
                    tenemos un equipo de desarrollo de Software, asi como
                    tambien el diagnóstico y tratamiento de problemas
                    Psicológicos  </p>
                </div>
                <div class="col s12 m4 l4">
                </div>
                <div class="col s12 m4 l4">
                <h2 >Instituciones: </h2>
                <p>
                    <a href="http://0775.testcore.com">
                        I.E. JEC 0775 - Huimbayoc
                    </a>
                </p>
                </div>
            </div>
        <!--/.Footer Links-->
        </div>

    <!--Footer-->
    <footer class="page-footer center ">
        <!--Copyright-->
        <div class="container">
                © 2018 Copyright: TestCore diseñado con mucho cariño para ustedes. <br>
                Nuestro Equipo: <br>
                <a href="https://www.facebook.com/awainer" target="_blank">Anthony Wainer </a>,
                <a href="https://www.facebook.com/brayan.dante" target="_blank">Milton Kebin </a>,
                <a href="https://www.facebook.com/joel.vargassalinas" target="_blank">Joel Vargas</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
{% endblock %}