<style>
    .jumbotron {
        padding-top: 10px;
        margin-bottom: 10px;
        color: rgba(18, 143, 166, 0.77);
        background-color: rgba(14, 175, 242, 0.02);
    }

    @media (min-width: 1200px) {
        .jumbotron-ad h3 {
            margin-top: 25px;
            font-size: 90px;
        }

        .jumbotron h3 {
            font-size: 70px;
            letter-spacing: -2px;
            line-height: 1;
            margin: 0 0 15px;
            text-shadow: 4px 3px 0 rgba(45, 156, 174, 0.49), 9px 8px 0 rgba(57, 182, 215, 0.08);
        }
    }
</style>

<div class="row  jumbotron">
    <div class="col s12 m12 l12  jumbotron-text">
        <h3  class=aria-hidden="true" align="center">Bienvenido a TestCore</h3>
        <hr>
        <h4 align="center">{{ profile_des|title }} {{ user.names|title }} {{ user.first_surname|title }} {{ user.second_surname|title }}</h4><br>
        <div align="center">
            <img style="width: 30% ; max-height: 30%;" class="responsive-img" src="static/media/{{ request.session.institucion.logo }}" alt="">
        </div>
    </div>

</div>
<div>

</div>





