<h4 align="center">ACTUALIZAR DATOS</h4>
<form  onsubmit="guardar_perfil(this,'editarcuenta/'); return false">
        {% csrf_token %}
        <div class="col s5">

                <label class="col s5"  >Usuario:</label>
                <div class="col s7" >
                    {{form.username}}
                </div>
        </div>
       <div class="col s7">
                <label class="col s5" >Nombres:</label>
                <div class="col s7">
                    {{form.names}}
                </div>
       </div>

        <div class="col s5">
                <label class="col s5" >Ap. paterno:</label>
                <div class="col s7">
                    {{form.first_surname}}
                </div>
        </div>
       <div class="col s7">
                <label class="col s5" >Ap. Materno:</label>
                <div class="col s7">
                    {{form.second_surname}}
                </div>
       </div>
        <div class="col s5">
                <label class="col s5" >Email:</label>
                <div class="col s7">
                    {{form.email}}
                </div>
        </div>
       <div class="col s7">
                <label class="col s5" >Fecha Nacimiento:</label>
                <div class="col s7">
                    {{form.birth_date}}
                </div>
       </div>
        <div class="col s5">
                <label class="col s5" >Celular:</label>
                <div class="col s7">
                    {{form.cellphone}}
                </div>
        </div>
       <div class="col s7">
                <label class="col s5" >Telefono:</label>
                <div class="col s7">
                    {{form.telephone}}
            </div>
       </div>
        <div class="col s5">
                <label class="col s5" >Dirección:</label>
                <div class="col s7">
                    {{form.address}}
                </div>
        </div>
       <div class="col s7">
                <label class="col s5" >Sexo:</label>
                <div class="col s7">
                    {{form.sex}}
                </div>
       </div>
       <div class="col s5">
                <label class="col s5" >Estado Civil:</label>
                <div class="col s7">
                    {{form.civil_status}}
                </div>
       </div>
        <div class="col s7">

        </div>
        <div align="center">
            <input  type="submit" value="Actualizar" class="btn btn-primary">
        </div>
</form>


<script>
    $("select").material_select()
</script>