{% extends 'base_security.html' %}
{% block title %}
	{{ request.session.institucion.iniciales }} - TestCore
{% endblock  %}
{% block css %}

 {% load static  %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}" />
    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/materialize/css/materialize.min.css' %}" />

   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lobibox.min.css' %}" />
    <link href="{%static 'css/select2/select2.min.css' %}" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->


    <style>
            .tab-p{
                display: inline-block;
                background: white;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 10px;
                padding-right: 5px;
                border-right: 1px solid black;
                font-size: 12px;
                color: grey;
                border-radius: 10px;

            }
            .tab-p:hover{
                background: transparent;
                cursor: pointer;
            }
            .tab-p .close, .tab-p .tiny {
                cursor: pointer;
                float: right;
                font-size: 16px;
            }
    .tactive{
                background: rgba(0, 193, 255, 0.15);
            }
    #resultados{
        height: 100%;
        width: 100%;
        overflow: auto;
    }
    .errorlist{
        color: orangered;
        margin-top: -10px;
        font-size: 0.85em;
    }
fieldset {
    font-family: sans-serif;
    border: 2px dashed #2a95a2;
    border-radius: 5px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 40px;
    background-color: rgba(216, 226, 241, 0.43);

}

fieldset legend {
    background: #42A5F5;
    color: #fff;
    padding: 5px 10px ;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 20px;
}
#range-t{
        width: 60%;
    margin-left: 25%;
}
    #id_alternativa{
        margin: 0 auto;
    }
    .img-test-alt{
        max-height: 100vw; max-width: 100vw;
        height: 335px;
        width: 335px;
    }
        #title_test {
            margin-top: -5px;
            color: rgb(106, 179, 186);
            float: left;
            padding-right: 20%;
            padding-left: 40%;
        }
        #form_test {
            padding-left: 10%;
            padding-right: 5%;
        }
        #pregunta_test{
            color: #225e92;
            text-shadow: 0.3px 0.5px grey;
            margin-top: -7px;
        }
#r-tab{
    margin-top: 15px;
}
.content-wrap {
    padding: 51px 0rem 1rem;
}
#add_more{
    color: #00aba9; cursor: pointer; margin-left: -14px; margin-top: -60px;
}
 @media only screen and (max-width: 1024px) {
     #pregunta_test{
            color: #225e92;
            text-shadow: 0.3px 0.5px grey;
            margin-top: 5px;
        }
    .img-test-alt{
        height: 240px;
        width: 240px;
    }
     #title_test{
        padding-left: 20%;
     }
 }
    @media only screen and (max-width: 768px) {
        #pregunta_test{
            color: #225e92;
            text-shadow: 0.3px 0.5px grey;
            margin-top: -15px;
        }
table.dataTable thead .sorting:after {
    border-bottom: none;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
 border-top: none;
}
        #add_more{
            margin-left: -90px;
            margin-top: -10px;
        }
        fieldset {
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 20px;
        }
        .h4, h4 {
            margin: 2rem 0;
        }
        #r-tab{
            display: none;
        }
        #form_test{
            padding-left: 0;
           padding-right: 0;
        }
        .card-panel {
            padding: 1rem;
        }
        .row {
            margin-top: 0;
        }
        #title_test {
            font-size: 1.5em;
            padding-right: 25%;
            padding-left: 30%;
        }
        #porcentaje_test{
          width: 30%;
           font-size: 0.8em;
        }
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel>i, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a>i {
    font-size: 1.2rem;
}
.yay-hide .yaybar.yay-hide-to-small {
    width: 40px;
}
.yaybar .top {
    height: 45px;
}
.yay-toggle {
    width: 40px;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a {
    width: 40px;
}
.yay-hide .yaybar.yay-shrink.yay-hide-to-small~.content-wrap, .yay-hide .yaybar.yay-shrink.yay-hide-to-small~.load-spinner, .yay-hide .yaybar.yay-shrink.yay-hide-to-small~footer {
    margin-left: 40px;
    margin-top: -70px;
}
.navbar-top, .navbar-top .button-collapse.sp-cancel, .navbar-top a.button-collapse {
    height: 35px;
    line-height: 35px;
}
.yay-toggle {
    padding-top: 10px;
    height: 35px;
    line-height: 35px;
}
.navbar-top .user img {
    width: 24px;
    margin-right: 0px;
}
.navbar-top .nav-wrapper>ul>li>.sp-cancel:not(.btn)>i, .navbar-top .nav-wrapper>ul>li>a:not(.btn)>i {
    height: 35px;
    line-height: 35px;
}
i.right {
    margin-left: 5px;
}
#r-tab{
    margin-left: -25px;
    margin-top: -55px;
}
.container {
    padding: 0 1rem;
}
.content-wrap {
    padding: 91px 0rem 2rem;
    margin-left: 0px;
}
.container .row {
    margin-left: 0;
    margin-right: -1rem;
}
    }
    #slide-out{
        padding-top: 60px;
    }
    </style>
{% endblock %}


{% block contenido %}

{% include "system/header.html" %}
{% include "system/module/modules.html" %}
    <!-- Main Content -->

    <section class="content-wrap">
        <div id="algo">
            <img src="{{ MEDIA_URL }}13.gif" style="display: none; z-index: 1000; position: absolute" id="spinner" alt="cargando..."  />
        </div>
        <div class="row" id="r-tab">
                        <div class="col s12 m12" id="tab-p"></div>
                    </div>
            <div id="resultados" class="container">
                        {% include "system/dashboard.html" %}
                        <div id="ejemplo">
                        </div>
            </div>


    </section>
    <!-- /Main Content -->

{% endblock%}

{% block js %}
    <script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'bower_components/materialize/bin/materialize.js' %}"></script>
    <script src="{% static 'js/lobibox.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/hashchange.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/es.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscorejs/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/datatables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/datatables/js/datable-es.js' %}"></script>

<script type="text/javascript" src="{% static 'js/introLoader.js' %}"></script>

<script type="text/javascript" src="{% static 'js/appSecurity/base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/appSecurity/baseMantenimiento.js' %}"></script>
    <script src="{% static 'assets/_con/js/_con.js' %}"></script>

{% endblock %}
