    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>LISTA DE TEST PROGRAMADOS</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>


<div class='card'>
  <div class='card-content'>
  <a type='button' class='btn btn-primary' href='#adm_test/Test_Programed/add?id={% if request.GET.program_test %}&program_test={{ request.GET.program_test }}{% endif %}'>Agregar</a>
    <table class="table table-striped table-hover table-condensed responsive-table">
      <thead>
        <tr>
          <td>#</td>
          <td>Programa</td>
          <td>Test</td>
          <td>Fecha</td>
          <td>Pacientes</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.program_test}}</td>
          <td>{{ foo.test}}</td>
          <td>{{ foo.date}} a las {{ foo.time}}</td>
          <td>
              <a href="#{% url 'list_History_test_Patient' %}?test_programed={{ foo.id }}">Ver</a>
          </td>
          <td>
            <a style='color: red' href='#adm_test/Test_Programed/update/{{ foo.id}}/?id={{ foo.id}}{% if request.GET.program_test %}&program_test={{ request.GET.program_test }}{% endif %}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red;cursor: pointer'  onclick="delete_maintenance('adm_test','Test_Programed',{{ foo.id}})" >
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<script>$('table').dataTable(datEs);</script>