<style>
    thead tr:nth-child(1), thead tr th{
        color: #364278;
        font-weight:500;
        text-transform: uppercase;
        text-align: center;
        background: rgba(0, 188, 216, 0.31);
        padding: 10px;
    }
    td{
        padding: 2px;

    }
    .cap{
        border-bottom: 1px solid #2b2b2b !important;
    }

</style>

<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 18px;color: #3293a2;margin-left: 65%" ><b>{{ name|upper }} PERFIL</b></span>

</div>

<div class='card' >
    <div class='card-content'>

<div class="row">
    <form id="formPermiso" onsubmit="guardarPermiso(this);return false;">
        {% csrf_token %}
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <div class="input-field">
                    {{ form.description }}
                   <label for="id_description">NOMBRE DEL PERFIL</label>
                </div>
            </div>
            <div class="col s4"></div>
        </div>
        <div class="row" >

            <div class="input-field col s4">
                <input id="bgen" type="text" onkeyup="buscarTodoPermisos(this,'#profilet')">
                <label for="bgen">Buscar Modulo</label>

            </div>
            <div class="col s4"></div>
            <div class="col s4" align="center">
                <br><a class="waves-effect waves-blue btn-flat m-b-xs" onclick="ttt_se('#profilet')">TODOS</a>
                <a class="waves-effect waves-red btn-flat m-b-xs" onclick="nnn_se('#profilet')">LIMPIAR</a>
            </div>
        </div>
        <div class="col s12 m12 l12" id="profilet"></div>
        <div class="col s12" align="center">
            <button type="submit" class="waves-effect waves-light btn">
                <i class="material-icons left">send</i>{{ name }}
            </button>
        </div>
    </form>
</div>
    </div>
</div>

<script type="text/template" id="profilejs">
    <% _.each(data, function(i,k){  %>

        <table class="responsive-table" id="tp<%= i.id %>" >
            <thead>
                <tr >
                    <th class="tbtr" colspan="2"><%= i.padre %>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="capb<%= i.id %>"  class="cap" type="text" onkeyup="buscarPer(this,'#tp<%= i.id %>')">
                                <label for="capb<%= i.id %>" style="color:#2b2b2b;">Buscar...</label>
                            </div>
                            <div class="col s4">
                                <% if (i.idpadre){  %>
                                  <div class="switch">
                                    <br><label style="color:#2b2b2b">
                                      OFF
                                      <input type="checkbox" <% if (i.idpadre.selected){ %> checked <% } %> name="permissions" value="<%= i.idpadre.id %>">
                                      <span class="lever"></span>
                                      ON
                                    </label>
                                  </div>
                                <% } %>
                            </div>
                            <div class="col s4">
                                <br><a class="waves-effect waves-blue btn-flat m-b-xs" onclick="tt_se('#tp<%= i.id %>')">todos</a>
                                <a class="waves-effect waves-red btn-flat m-b-xs" onclick="nn_se('#tp<%= i.id %>')">limpiar</a>
                            </div>

                        </div>
                    </th>

                </tr>
                <tr>
                    <th>SubMódulos</th>
                    <th>Permisos</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(i.hijos, function(j,l){ %>
                <tr>
                    <td style="text-align: right;color: black ;border-right: solid 1px deepskyblue;
                    padding-right: 15px"
                        width="100px"><%= j.nombre %></td>
                    <td>
                        <%  c = _.isEmpty(j.permisos) %>
                        <% if  (c) { %>
                        no tiene permisos
                        <% }else{  %>
                        <select  name="permissions" style="width: 100%" id="id_p<%= j.id %>" multiple>
                        <% _.each(j.permisos, function(m,n){ %>
                            <option <% if (m.selected){ %> selected <% } %> value="<%= m.id %>"><%= m.nombre %></option>
                        <% }) %>
                        </select>
                        <a class="waves-effect waves-blue btn-flat m-b-xs" onclick="todos_se('#id_p<%= j.id %>')">todos</a>
                        <a class="waves-effect waves-red btn-flat m-b-xs" onclick="ninguno_se('#id_p<%= j.id %>')">limpiar</a>
                        <% }  %>
                    </td>
                </tr>
                <% })  %>
                <%  a = _.isEmpty(i.hijos) %>
                <% if  (a) { %>
                    <tr>
                        <td colspan="2" style="text-align: center">no tiene submódulos</td>
                    </tr>
                <% }  %>

            </tbody>
        </table>

    <br><br>
    <% }) %>
</script>

<script>
Materialize.updateTextFields();
    function buscarPer(t,id) {
        var rex = new RegExp($(t).val(), 'i');
        $(id+' tbody tr').hide();
        $(id+' tbody tr').filter(function () {
            return rex.test($(this).text());
        }).show();

    }
    function buscarTodoPermisos(t,id) {
        idt = capId(id,"table");
        var rex = new RegExp($(t).val(), 'i');
        for(var i=0; i<idt.length; i++){
            console.log(idt[i]);
            $(idt[i]+' tbody tr').hide();
            $(idt[i]).hide();
            $(idt[i]+' tbody tr').filter(function () {

                if (rex.test($(this).text())){
                    $(idt[i]).show()
                     return true;
                }

             }).show();
        }

    }
    {% if request.GET.id %}
        id = {{request.GET.id }}
        {% else %}
        id = ''
    {% endif %}

    $.getJSON('security/profile/list_profiles_modules?id='+id).done(function (data) {
        t = _.template($("#profilejs").html());
        $("#profilet").html(t({data:data}));
        $('select').select2({ tags: true});
    });

    function guardarPermiso(t) {
        d = $(t).serialize();
        if ("{{ name }}" == "Registrar"){
            u = 'security/profile/add/';
        }else{
            u = 'security/profile/update/{{ request.GET.id }}/';
        }
        $.post(u,d).done(function (da) {
            noti('success', da);
            atras();
            return false;
        }).fail(function(r) {
                $('.errorlist').remove();
                var errors = JSON.parse(r.responseText);
                        for (e in errors) {
                            var id = '#id_' + e;
                            $(id).after(errors[e]);
                        }
        });
        return false;
    }
    function todos_se(n) {
        a=[];
        $(n+" option").each(function(){
        a.push($(this).val())
        });
        ninguno_se(n);
        $(n).val(a).trigger("change")
}

function ninguno_se(n){

    $(n).val(null).trigger("change")
    return true;
}
function tt_se(n) {
    ids = capId(n,"select");
    for (var i=0; i<ids.length; i++){
        todos_se(ids[i]);
    };
}
function nn_se(n){
    ids = capId(n,"select");
    for (i=0; i<ids.length; i++){
        ninguno_se(ids[i]);
    }
    return true;
}
function ttt_se(n) {
    idt = capId(n,"table");
    for (var j=0; j<idt.length; j++){
       ids =  capId(idt[j],"select");
        for(var t=0;t<ids.length; t++){
            todos_se(ids[t]);
        }
    }
}
function nnn_se(n) {
    idt = capId(n,"table");
    for (var j=0; j<idt.length; j++){
       ids =  capId(idt[j],"select");
        for(var t=0;t<ids.length; t++){
            ninguno_se(ids[t]);
        }
    }
}
function capId(n,t) {
   a=[];
   $(n+" "+t).each(function(index){
      a.push("#"+$(this).attr("id"));
   });
    return a;
}

</script>