<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a><br>
<h4 align='center' style='color: #3293a2'><b>LISTA DE AULAS</b></h4>
<hr>
<a type='button' class='btn btn-primary' href='#adm_institucion/Classroom/add?id='>Agregar</a><br>
<div class='card'>
  <div class='card-content'>
    <table class="table table-hover table-condensed responsive-table">
      <thead>
        <tr>
          <td>#</td>
          <td>name</td>
          <td>grado</td>
          <td>seccion</td>
          <td>Estudiantes</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.name}}</td>
          <td>{{ foo.grado}}</td>
          <td>{{ foo.seccion}}</td>
          <td>
              <a href="#adm_institucion/Classroom/alumnos/?cr={{ foo.id }}">Ver Alumnos</a>
          </td>
          <td>
            <a style='color: red' href='#adm_institucion/Classroom/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red' onclick="delete_maintenance('adm_institucion','Classroom',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
